@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: EkMukta;
    src: url('../fonts/ekmukta/EkMuktaRegular.ttf');

}

$main-green: #75d3b3;

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 6px #6162FDFF;
}

::-webkit-scrollbar-thumb {
    //box-shadow: inset 0 0 6px #6162FDFF;
    border-radius: 10px;
    background: $main-green;

}

$header_items_height: 50px;

body {
    background-color: #f6f6f6;
    font-weight: normal;
    overflow-x: hidden;
    font-family: EkMukta, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


.header {
    padding: 10px 0;
    width: 100%;
    background-color: $main-green;

    .header_navigation {
        li {
            transition: .2s;
            font-size: 18px;

            position: relative;

            &.active:after {
                content: '';
                width: 100%;
                position: absolute;
                left: 0;
                top: 100%;
                height: 2px;
                background-color: #ffffff;
                border-radius: 2px;
            }

            &:hover {
                @media screen and (min-width: 768px) {

                    transition: .2s;
                    &:after {
                        content: '';
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        height: 2px;
                        background-color: #ffffff;
                        border-radius: 2px;
                    }
                }
            }

        }

    }

    .auth {
        a {
            font-size: 16px;
            color: white;
            @media screen and (max-width: 768px) {

                font-size: 18px;

            }
        }


    }
}


.footer {
    background: $main-green;
    padding: 10px 0;

    p {
        color: white;
    }
}

.overlay_form_block, .form_block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    padding: 0 5px;
}

.overlay_form_block {
    display: none;
    z-index: 3;

    form {
        background-color: $main-green;
        border: none;
    }

    &.active {
        display: block;
    }
}

.form_block, .overlay_form_block {

    form {
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        width: 100%;

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 10px;

            input, select {
                width: 100%;
                border-radius: 5px;

                &:focus {
                    outline: none;
                    border: 1px solid cornflowerblue;
                }
            }

            input {

                padding: 5px 0 5px 5px;


            }
        }

        section {
            margin-top: 10px;
        }

        button {
            margin: 0 auto;
            margin-top: 10px;
            width: 100%;
            background: green;
            padding: 5px;
            color: white;
            border-radius: 5px;
        }
    }

    .productAddForm {
        label {
            color: #3b3838;
        }

        button {
            margin-top: 0 !important;
        }

        .closeBtn {
            background-color: red;
        }
    }
}

.productAddBtn, .categoryAddBtn {
    background-color: $main-green;
    padding: 10px 15px;
    width: min-content;
    white-space: nowrap;
    color: white;
    border-radius: 5px;
    transition: .3s;

    &:hover {
        @media screen and (min-width: 768px) {
            cursor: pointer;
            background-color: #5aa28a;
            transition: .3s;
        }

    }
}

.overlay {
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    &.active {
        display: block;
    }
}


.header_items {
    height: $header_items_height;
    transition: .2s;

    &.active {
        height: 100vh;
        justify-content: center;
        transition: .3s;
    }
}

.burgerBlock {
    cursor: pointer;
}

.mapBlock {

    img {
        object-fit: cover;
        width: 100%;
        max-width: 750px;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 5px;
}

.product_block {
    .card {
        &:hover {
            @media screen and (min-width: 768px) {
                background-color: #dff1ea;
            }

        }
    }

    .OrderCountBlock {
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        height: min-content;
        min-width: 200px;

        p {
            font-size: 18px;
            padding: 10px 0;
        }


        .orderBtn {
            cursor: pointer;
            text-align: center;
            background-color: $main-green;
            padding: 15px 30px;
            border-radius: 5px;
            color: white;
            transition: .3s;
            font-size: 16px;

            &:hover {
                @media screen and (min-width: 768px) {
                    background-color: #68b79d;
                    transition: .3s;
                }

            }
        }
    }

    .adminProduct, .product {
        display: flex;
        flex-direction: column;
        transition: .3s;
    }

    .adminProduct {
        div {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        input:not(.file), select {
            border: 1px solid gray;
            border-radius: 5px;
        }

        input:not(.file) {
            padding-left: 10px;

        }

        img {
            width: 100%;
            max-width: 400px;
            border-radius: 5px;
        }

        button {
            border-radius: 5px;
            background: $main-green;
            padding: 10px 15px;

            &:hover {
                @media screen and (min-width: 768px) {
                    color: white;
                }

            }
        }
    }

    .product {
        border: 1px solid $main-green;

        .productImageWrapper {
            width: 300px;
            height: 300px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &:hover {
            @media screen and (min-width: 768px) {
                box-shadow: 4px 4px 4px $main-green;
                transition: .3s;
            }


        }

        img {
            max-width: 300px;
            height: 250px;
            object-fit: cover;
        }


        form {

            margin-top: auto;

            button.addToCartBtn {
                transition: .3s;

                &:hover {
                    @media screen and (min-width: 768px) {
                        background: #1c7e4c;
                        transition: .3s;
                    }


                }
            }

        }

    }

    .product.show {

        img {
            max-width: 600px;
        }

        .product_info {
            p {
                font-size: 18px;
            }

            form {
                margin-top: 10px;
            }

        }
    }
}

.increment, .decrement {
    transition: .3s;

    &:hover {
        transition: .3s;
        background-color: rgb(28, 168, 80);
    }
}

.decrement {
    transition: .3s;

    &:hover {
        transition: .3s;
        background-color: rgb(201, 56, 56);
    }
}


.filterBlock {
    select, button, option {
        cursor: pointer;

    }

    input, select {
        outline: none;
        border: 1px solid gray;
    }

    select, input {
        border-radius: 5px;
        padding: 10px;
    }

    input {
        padding: 12px;
    }

    button {
        transition: .3s;

        &:hover {
            background-color: rgb(27, 159, 75);
            transition: .3s;
        }
    }

    a {
        transition: .3s;

        &:hover {
            transition: .3s;
            background-color: rgb(46, 103, 196);
        }
    }
}

.cartMessage {
    color: red;
    padding: 10px 10px;
    position: fixed;
    right: 0;
    bottom: 0;

}

.adminBtns {
    margin-top: 15px;

    a {
        background-color: #2796a6;
        padding: 5px 10px;
        color: white;
        border-radius: 5px;
        transition: .3s;

        &:hover {
            @media screen and (min-width: 768px) {
                background-color: #1b707c;
                transition: .3s;
            }

        }
    }
}

.orderDesign {
    border: 1px solid $main-green;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    height: max-content;

    .price {
        font-weight: bold;
        font-size: 20px;

    }

    .orderDesignForm {

        button {
            background: $main-green;
            color: white;
            width: 100%;
            border-radius: 5px;
            padding: 10px 5px;
            margin-top: 5px;

            &:hover {
                @media screen and (min-width: 768px) {
                    background: #34d3ad;
                }


            }
        }
    }
}

main {
    margin: 20px 0;
}

.order_block {
    .order_items {
        border: 1px solid $main-green;
        padding: 10px;
        border-radius: 5px;
    }

    .order_card {

    }
}

.categoriesTable {
    width: 100%;

    border-collapse: collapse !important;
    border-radius: 5px;

    td {
        border: 1px solid $main-green;
    }

    thead {
        background-color: $main-green;

        td {
            padding: 15px;
            color: white;
        }
    }

    tbody {
        td {
            padding: 5px;
        }
    }
}

.swiper {
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    max-height: 400px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 32px !important;
}

.productEditForm {
    button {
        color: white;
        transition: .3s;

        &:hover {
            transition: .3s;
            background-color: #6cc2a4;
        }
    }
}
